[Desktop Entry]
Name=Multi Aterm
Comment=Small, fast X terminal application 
Comment[pl]=Mały, ale szybki emulator terminala dla Systemu X Window
Comment[pt_BR]=Um emulador de vt102 colorido
Exec=multi-aterm
Icon=multi-aterm.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator;
# vi: encoding=utf-8
